/* || Base */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* || Grid */

#grid-container {
  border: 2px solid black;
  margin: 10px auto;
  max-width: min(800px, calc(100% - 20px));
  aspect-ratio: 1;
}

